.image{
    background-image: url("https://wallpapercat.com/w/full/6/3/8/188599-3840x2160-desktop-4k-alien-movie-background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.head{
    padding-top: 80px;
}